*{
    margin: 0;
    padding: 0;
}

.post{
    width: 60%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.border-top{
    border-top: 0.05px solid #6A5495;
}

.play-container{
    height: 30px;
    width: 30px;

}

.play-container:hover{
    cursor: pointer;
    color: #6A5495;
}

.slider-container{
    width: 28%;
    height: 5px;
    position: relative;
}
.purple-line{
    height: 100%;
    background-color: #6A5495;
    position: absolute;
    border-radius: 3px;
    top:0;
    left:0;
    z-index: 1;
}


input[type="range"]{
    position: absolute;
    height: 100%;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    top:0;
    left:0;
}


input[type='range']::-webkit-slider-thumb {
    z-index: 3;
    position: relative;
    -webkit-appearance: none;
    background-color:#dddddd;
    height: 15px;
    width: 15px;
    border-radius: 50%;


}


