html {
  height: 100%;
  color: #dddddd;
  font-family: 'Montserrat', sans-serif;
}

* {box-sizing: border-box;}

body {
  margin: 0;
  background-color: #1D1B26;
  height: 100%;
}

.home_page{
  height: 100vh;
  min-width: 840px;
}




.part{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  height: 100%;

}

.first_title_container{
  margin-top: 5% ;
}

.first_text{
  display: flex;
  height: 40%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.first_title_container{
  height: 50%;
}

.first h3{
  display: flex;
  justify-content: center;

}

.first_img_container{
  height: 55%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.first img{
  background-color: darkkhaki;
  height: 100%;
  width: 100%;

}




.second{
  background-color: #6A5495;
}

.second_title_container{
  height: 20%;
}

.second_info{
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.second_info_text {
  width: 50%;

}

.second_info_text h2{
  padding: 14%;
}


@media screen and (max-width : 1404px)
{
  .second_info
  {
    font-size: x-large;
  }
  .second_info_text h2{
    padding: 10%;
  }
}


.second_info_img_container{
  width: 50%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second img{
  background-color: darkkhaki;
  height: 100%;
  width: 80%;

}



.third{
  display: flex;
  align-items: center;
  justify-content: center;
}


.third_info{
  height: 69%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circles{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.circle_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  color: white;
  text-decoration: none;
}

.circle_container h5{
  width: 50%;
}

.third_middle{
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  height: 30%;
  width: 20%;
}

.third img{
  background-color: darkkhaki;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.third_down{
  display: flex;
  justify-content: center;
  width: 100%;
}


.man_container{
  height: 90%;
}




